<div class="panel panel-success">
    <div class="panel-heading clearfix" >
        <h5 style="float: left"><i class="fa fa-bullhorn"></i>
            &nbsp;&nbsp;Notifications
        </h5>
        <div class="input-group filter" style="margin-right:10px">
            <span class="input-group-addon" ><i class="fa fa-filter"></i></span>
            <input type="text" class="form-control" placeholder="Search notifications" ng-model="notifQuery">
        </div>
    </div>
    <div class="panel-body">
        {{count}}
    </div>
</div>    