
img.img-thumbnail{
    width: 90% ;
    height: auto ;
    margin: 5% 5% 5% 5% ;
}
a.profile-menu-item {
    position:relative;
    display:block;
    width: 100%;
    padding: 10px 10px 10px 30px;
    color: black;
}


a.profile-menu-item.active {
    background-color: #4CAF50;
    color:white;
}

